body{
    font-family: Arial, Helvetica, sans-serif;
}
html{
  scroll-behavior: smooth;
}


.navbar{
    background-color: rgba(217, 217, 217, 1);
    /* width: 1440px; */
    /* border: 1px solid red; */
    border-radius: 2px dotted rgb(189, 172, 172);
}

.navbar-container{
    max-width: 1440px;
    display: flex;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
    justify-content: space-around;
    align-items: center;
}

.navbar-container a{
    text-decoration: none;
    color: black;
    font-weight: 540;
    font-size: 21px;
    margin-right: 52px;
    align-items: center;
    justify-content: center;
}

.navbar-container a img{
    width: 12px;
    height: 12px;
    align-self: center;
    /* color: black; */
    
}
.navbar-container  .home{
    color: #a39b9bde;
}


/* banner related styles here */

.banner-container{
    display: flex;
    gap: 20px;
    max-width: 1240px;
    margin: 40px auto;
}

/* LEFT BIG IMAGE */
.brand-description{
    width: 610px;
    min-height: 610px;
    background:
      linear-gradient(rgba(0,0,0,.45), rgba(0,0,0,.45)),
      url(../assets/instagram-03.jpg) center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 60px;
}

.brand-description h3{
    font-size: 56px;
    color: #fff;
    margin-bottom: 15px;
}

.brand-description p{
    max-width: 400px;
    color: #eee;
    margin-bottom: 25px;
}

.brand-description button{
    width: 160px;
    height: 50px;
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}

/* RIGHT SIDE GRID */
.product-description{
    width: 610px;
}

.product-card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

/* COMMON STYLE FOR ALL 4 CARDS */
.product-card > div{
    height: 295px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

/* INDIVIDUAL BACKGROUNDS */
.women{
    background:
      linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)),
      url(../assets/instagram-01.jpg) center/cover no-repeat;
}

.men{
    background:
      linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)),
      url(../assets/baner-right-image-02.jpg) center/cover no-repeat;
}

.kids{
    background:
      linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)),
      url(../assets/baner-right-image-03.jpg) center/cover no-repeat;
}

.accessories{
    background:
      linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)),
      url(../assets/baner-right-image-04.jpg) center/cover no-repeat;
}

.product-card h3{
    font-size: 24px;
    margin-bottom: 10px;
}

.product-card p{
    max-width: 220px;
    font-size: 14px;
    color: #ddd;
}



/* ================================================== */
/* common styles for card and container are here */
/* ================================================== */

.section-container{
    margin: 0 auto;
    padding: 20px;
}

.section-container h3{
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 20px;
}

.section-container p{
    font-size: 14px;
    color: #1a1717;
    margin-bottom: 20px;
}

#section-card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

}

.section-card{
    /* width: 400px; */
    /* height: 565px; */
    background-color: #d9d9d9;
    border-radius: 10px;
    overflow: hidden;
  box-shadow: 0 10px 30px rgba(26, 25, 25, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.section-card:hover{
    transform: translateY(-6px);
  box-shadow: 0 18px 40px rgba(0,0,0,0.12);

}

/* .mens-section-card img{
    width: 100%;
    border-radius: 10px;
} */
.img-wrapper {
  position: relative;
  width: 400px;
  height: 445px;
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-container{
    padding: 16px;
    /* justify-self: space-eventually; */
    
    
}

.card-container .title{
    display: flex;
    justify-content: space-between; 
    /* justify-content: flex-end; */
}

.section-card .card-container h4{
    color: #000000;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 15px;
}


.section-card .card-container .rating{
   color: #FFA92E;
    font-size: 25px;
    /* justify-content: space-between; */
    /* text-align: right; */
    padding-right: 0;

}

.card-container .price{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: ;
}

.card-container .price p{
    font-size: 20px;
}

.card-container .price .save-items{
    font-size: 25px;
}

.card-container .price #like-button{
    color: #ff0000;
}


/* mans section related styles here */

.mens-section{
    padding: 90px;
    padding-top: 0;
    border-top: 2px dotted #d1c1c1;
}

/* womens related styles here */

.womens-section{
padding: 90px; 
padding-top: 0;
border-top: 2px dotted #d1c1c1; 
}

/* kids related styles here */

.kids-section{
    padding: 90px;
    padding-top: 0;
    border-top: 2px dotted #d1c1c1;
    border-bottom: 2px dotted #d1c1c1;

}


/* ? explore our products related styles here */

.explore-section{
    padding: 90px;
    padding-top: 0;
    border-bottom: 2px dotted #d1c1c1;

}

.explore-section-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: space-between;

}

.explore-description{
    align-content: center;
}

.explore-section-container .explore-description h2{
    font-size: 45px;
    margin-bottom: 25px;

}

.explore-section-container .explore-description p{
    color: #ada5a5;
    font-weight: 550;
    margin-bottom: 25px;
}

.explore-section-container .explore-description .quatation{
    display: flex;
    align-items: center;
    gap: 10px;
}

.explore-section-container .explore-description .quatation span{
    font-size: 35px;
}


.explore-section-container .explore-description .quatation p{
    color: #1a1717;
}
.explore-section-container .explore-description .links a{
    text-decoration: none;
    color: rgba(9, 9, 231, 0.884);
}
.explore-section-container .explore-description button{

    background: transparent;
    border: 1px solid black;
    padding: 15px;
    font-weight: 550;
    font-size: 15px;
    color: #352e2e;
    margin-top: 20px;
}


.explore-products{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 37.350px;
    /* padding-left: 30px; */
justify-items: right;
}

.explore-product-card{
    background-color: #d9d9d9;
    width: 400px;
    height: 400px;
    padding: ;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.explore-product-card h2{
    font-size: 25px;
    margin-bottom: 0;
}

.explore-product-card p{
    margin-top: 10px;
    color: #867e7e;
}

.explore-product-card img{
    width: 100%;
    height: 100%;
}